* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  /* flex: 1; */
  justify-content: center;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
