* {
  margin: 0;
  padding: 0;
}

.scopo {
  background: linear-gradient(to right, #0059b3, #007acc);
  height: 32px;
  padding-left: 25px;
  padding-top: 15px;
}

.scopo span {
  color: #f2f2f2;
  padding-right: 15px;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}
