* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h2 {
  padding-bottom: 25px;
  padding-top: 50px;
}

.container form .inputs {
  padding-bottom: 16px;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.info {
  width: 30%;
  height: 20px;
  /* display: flex;
  justify-content: center; */
}

.info form input {
  padding: 10px;
  border-radius: 14px;
  width: 100%;
  height: 25px;
  font-size: 14px;
  border: 1px solid #d9d9d9;
}

.info form strong {
  color: #b3b3b3;
  font-size: 15px;
}

.info form button {
  width: 108%;
  height: 40px;
  border-radius: 15px;
  border: 1px solid grey;
  background: #0059b3;
}

.info form button span {
  color: #ccf5ff;
  font-size: 15px;
}

.info form .espaco {
  height: 5px;
}

h1 {
  color: #737373;
}
